html, body, input, select, textarea, .pure-g [class*="pure-u"]
  font: 17px/1.5 'Operator', 'Source Sans Pro', 'Fira Sans', system-ui, sans-serif

body
  margin: 1rem auto
  max-width: 800px
  padding: 0.5rem

footer
  font-size: 0.80rem

h1, h2, h3, h4, h5, h6
  letter-spacing: 0.03rem

noscript
  color: red

p
  margin: 1.12rem 0

.alert
  border-left: 5px solid red
  display: block
  padding: 1px 1rem

.disclaimer
  color: rgba(0, 0, 0, 0.5)
  font-style: italic
  &::before
    content: 'Disclaimer: '
    font-weight: bold

.tt
  font-family: 'Operator Mono', 'Hasklig', 'Fira Code', monospace
